@media(min-width:1201px) {
    .quiz {

        .quiz-header-section {
            margin-block: 40px 40px;
        }

    }

}

@media(min-width:601px) and (max-width:1200px) {
    .quiz {

        .quiz-header-section {
            margin-block: 80px 100px;
        }

    }
}

@media(max-width:600px) {
    .quiz {

        .quiz-header-section {
            margin-block: 24px 48px;
        }

    }
}